@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    background-image: url(../img/noisebp.png);
}

#willbesent {
    text-align: right;
}

#logo {
    position: relative;
    margin-right: 200px;
    margin-top: 50px;
}

header, section, footer {
    padding: 1em;
}

.home {
    padding: 0;
}

.home h1 {
    font-size: 58px;
}

.home p {
    margin-bottom: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

.jumbotron {
    background-image: url(../img/cacti.jpg);
    height: 350px;
    text-align: right;
    padding: 1em;
}

nav {
    font-size: 125%;
    background-color: #000;
}

nav ul {
    padding-left: 0;
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
    margin-left: 3em;
}

nav a:link,
nav a:visited {
    color: #269abc;
}

.item {
    height: 600px;
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}


#Home {
    background-color: #c0a16b;
    overflow: auto;
}

.menu {
    display: block;
}

.menu li{
    display: inline-block;
    position: relative;
    z-index: 100;
}


.menu li a {
    font-weight: 600;
    text-decoration: none;
    padding: 12px;
    display: block;
    color: #fff;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,
.menu li:hover > a{
    color: #fff;
    background: #bbb;
}

.menu ul{
    display: none;
    margin: 0;
    padding: 0;
    width: 180px;
    position: absolute;
    top: 56px;
    left: 0px;
    background: #9CA3DA;
}

.menu li:hover > ul{
    display: block;
}
.menu ul li{
    display: block;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a{
    font-size: 12px;
    display: block;
}

.menu ul li a:hover,
.menu ul li:hover > a{
    background-color: #9CA3DA;
    border-left: 3px solid #c9302c;
}

#methods_paper {
    text-align: center;
    background-position: center;
}
#translated-versions {
    background-position: center;
}

#carousel-example-generic {
    width: 300px;
    height: 480px;
    margin-left: 1%;
    float: left;
}
#title {
    text-align: center;
}
#methodsdesc {
    margin-left: 40%;
}

.invalid-field {
    border: 1px solid #FF0000;
}

.story {
    margin-bottom: 100px;
    padding: 1em;
}

.story img {
    max-height: 400px;
    float: left;
    margin-right: 1em;
}

#About img {
    max-height: 350px;
    float: left;
    margin-left: 1em;
}

#spanish-lang {
    display: none;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 90px;
  width: 100px;
  padding: 0px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  color: #333;
  text-align: center;
  cursor: pointer;
}

.invalid-field {
    border: 1px solid #FF0000;
}

#translated-versions h1{
    font-size: 60px;
    font-weight: bold;
}

#pic2refl, #pic4refl, #pic5refl, #pic7refl, #pic2refls, #pic4refls, #pic5refls, #pic7refls {
    float: left;
    margin: 8px;
}

#pic6refl, #pic6refls {
    float: right;
    margin: 8px;
}

#carousel { 
    height: 350px;
    perspective: 2000px;
    padding-top: 2%;

}
#spinner { 
    transform-style: preserve-3d; 
    height: 400px;
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
} 
#spinner img {
    border: 2px solid;
    width: 40%;
    max-width: 420px;
    max-height: 310px;
    position: absolute;
    left: 30%;
    transform-origin: 50% 50% -500px;
}
#spinner img:nth-child(1) { 
    transform:rotateY(0deg); 
}
#spinner img:nth-child(2) { 
    transform: rotateY(-45deg); 
}
#spinner img:nth-child(3) {
    transform: rotateY(-90deg); 
}
#spinner img:nth-child(4) {
    transform: rotateY(-135deg); 
}
#spinner img:nth-child(5) { 
    transform: rotateY(-180deg); 
}
#spinner img:nth-child(6) { 
    transform: rotateY(-225deg); 
}
#spinner img:nth-child(7) { 
    transform: rotateY(-270deg); 
}
#spinner img:nth-child(8) { 
    transform: rotateY(-315deg); 
}


#carousel ~ span {
    color: #c75b12;
    margin: 5%;
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -20rem;
    border-bottom: none; 
    line-height: 0; 
}

#carousel ~ span:hover {
    color: #000000;
    cursor: pointer; 
}

.image-links a img {
    margin-right: 5px;
    border: 2px solid black;
}

.image-links a img:hover {
    opacity: 0.7;
    transition: all 0.4s;
}

.image-links a {
    padding: 0;
}

.links h2 {
    font-size: 1.2em;
    line-height: 1.5em;
    display: inline-block;
    font-weight: 700;
    color: #c75b12;
    background: #ebebeb;
    padding: 3px 7px;
    min-width: 200px;
    margin: 0;
}

.caption h2 {
    margin-bottom: 30px;
    font-weight: 500;
    padding: 5px;
    font-size: 1em;
    background: none;
    line-height: 1em;
    display: inherit;
}

.row img {
    height: 400px;
    opacity: 0.8;

}

.alert, #delete {
    display: none;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

section .container {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    background-image: url(../img/noisebp.png);
    margin: 0.5em;
}
